@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
     font-family: Arial, Helvetica, sans-serif;
}
header{
    height: 75px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    background-color: #ce7b1d;
    align-items: center;
    padding: 30px 10%;
    opacity: 85%;
    gap: 5vw;
}
span{
    color: rgb(5, 4, 5);
    font-weight: bold;
    font-size: 50px;
}

img{
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    background-image: url(header.jpg);
    box-shadow: rgba(149, 157,165, 0.2)0px 8px 24px;
    animation: headerjpg 20s linear infinite;
}
nav {
   display: flex;
   padding: 0px 20px;
   gap: 8vw;
   justify-content: space-between;
   color: white;
   font-size: 13px;

}
a,button{
    text-decoration: none;
    font-size: 16px;
    font-weight: 520;
    color: white;
    cursor: pointer;
}
button{
    background-color: rgb(218, 120, 40);
    padding: 9px 25px;
    border: none;
    border-radius: 8px;
    transition:all 0.4s ease 0s;
}
.button :hover{
    color: rgba(52, 223, 74, 0.726);
    transition: all 0.4s ease 0s;
}
nav :hover{
    color: aqua;
    transition: all 0.4s ease 0s;
}
.contain-item img{
    width: 100%;
    height: 100vh;
    background-position: center;
    background: cover;
}

.header_container{
    padding-top: 8rem;
    display: grid;
    text-align: center;
    gap: 2rem;
    font-size: 20px;
    background-color:  rgb(65, 122, 103);
}
.header_content{
    font-size: 25px;
    color: rgb(26, 23, 23);
    background-color:  rgb(65, 122, 103);
    image-resolution: 60px;
    background-image: -webkit-linear-gradient();
}
.logo1{
    width: 40%;
    height: 30%;
    justify-content: center;
    display: flex;
}
.header_content2{
    padding-top: 8rem;
    text-align: center;
    gap: 2rem;
    font-size: 25px;
    background-color:  rgb(65, 122, 103);
    
    

}

.header_content3{
    padding-top: 8rem;
    text-align: center;
    gap: 2rem;
    font-size: 25px;
    background-color:  rgb(65, 122, 103);
    width: 100%;

}

.header_Content6{
    justify-content: space-between;
    border-color: black;
    display: inline-flex;
    background-color:  rgb(65, 122, 103);

}
button :hover{
    color: rgb(63, 216, 57);
    transition: all 0.4s ease 0s;

}
.header_btn :hover{
    color: black;
    transition: all 0.4s ease 0s;
}
.container{
    display: flex;
}
image{
    width: 100%;
}
.gallery{
    display: flex;
    gap: 5vw;
    width: 100%;
    
    align-items: center;
    background-color:  rgb(65, 122, 103);
    justify-content: space-between;
    background-image: url();
    border-radius: 4px;
}
.conetnt{
    width: 100%;
    align-items: center;
    box-shadow: 0px 2px 3px;
}
.gallery :hover{
    color: rgb(175, 27, 180);
    transition: all 0.4s ease 0s;

}
.gallery1{
    display: flex;
    gap: 5vw;
    width: 100%;
    
    align-items: center;
    background-color:  rgb(65, 122, 103);
    justify-content: space-between;
    background-image: url();
    border-radius: 4px;
}
.content1{
    width: 100%;

    
}
.conetnt3{
    width: 200%;
}
.gallery1 :hover{
    color: rgb(209, 31, 114);
    transition: all 0.4s ease 0s;
}
 
svg{
    width: 30px;
}
header{
    display: flex;
    width: 100%;
    color: rgb(0, 0, 0);
}
.listproduct{
    width: 100%;
    background-color:  rgb(65, 122, 103);
    display: flex;
    gap: 20px 30px;
    display: flex;
}
.listproduct :hover{
    color: rgb(192, 16, 139);
    transition: all 0.4s ease 0s;
}
.card{
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px; 
    margin: 2%;
    background-color:rgb(55, 179, 158) ;
   }

.image img{
 width: 100%;
 border-top-right-radius: 5px;
 border-top-left-radius: 5px;
 
 


}

.title{

 text-align: center;
 padding: 10px;
 background-color: #cf7437;
 
}

h1{
 font-size: 20px;
}

.des{
 padding: 3px;
 text-align: center;

 padding-top: 10px;
       border-bottom-right-radius: 5px;
 border-bottom-left-radius: 5px;
 
}
button{
 margin-top: 40px;
 margin-bottom: 10px;
 background-color: rgb(235, 141, 34);
 border: 1px solid black;
 border-radius: 5px;
 padding:10px;
}
button:hover{
 background-color: black;
 color: rgb(228, 107, 26);
 transition: .5s;
 cursor: pointer;
}
.main{
    background-color: rgb(65, 122, 103);
}
footer.footer{
    background-color: #766f9f78;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.footer {
    background-color: #766f9f78;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
}
.footer :hover{
    color: #cf7437;
    transition: .5s;
    cursor: pointer;
}
i.fa-brands.fa-square-instagram {
    color: rgb(228, 62, 90);
    font-size: 50px;
}

i.fa-brands.fa-square-twitter {
    color: rgb(38, 137, 230);
    font-size: 50px;
}
i.fa-brands.fa-square-whatsapp{
    color: rgb(48, 201, 43);
    font-size: 50px;
}
i.fa-brands.fa-square-facebook{
    color: rgb(25, 109, 206);
    font-size: 50px;
}

.fa-brands, .fab {
    font-size: 50px;
    font-weight: 400;
    color: blue;
}
